[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.2"
mimesis = "*"
python-decouple = "*"
python-ldap = "*"
django-auth-ldap = "*"
transliterate = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.6"
