html {
  height: 100%;
  overflow-y: scroll;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100%;
  grid-gap: 1em;
  margin: 0 2em;
}

header,
main,
nav,
footer {
  padding: 1em;
}

header {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 8fr 2fr;
  border-bottom: lightgray solid thin;
}

footer {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}

main {
}

footer {
  border-top: lightgray solid thin;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > h5 {
  margin-bottom: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title > h3 {
  margin-bottom: 0;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user > h6 {
  margin-bottom: 0;
}

.license-list {
  display: grid;
  grid-auto-rows: auto;
}

.lic-type-button,
.lic-type-button:focus {
  box-shadow: none;
  margin-top: 10px;
}

.license-group {
  display: grid;
  grid-template-columns: 5fr 1fr 2fr 8fr;
  grid-auto-rows: min-content;
  justify-content: center;
  margin: 1em 0;
}

.lic-list-header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.lic-name,
.lic-quantity,
.lic-expires,
.lic-comment {
  display: flex;
  justify-content: center;
  padding: 0.3em 1em;
  border-bottom: lightgray solid thin;
}

.license-group > span:nth-last-child(-n+4) {
  border-bottom: none;
}

.lic-name:hover {
  background-color: #f6f6f6;
}
