html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 5fr 1fr;
  height: 100%;
  grid-gap: 1em;
  margin: 0 2em;
}

header,
main,
nav,
footer {
  padding: 1em;

}

header,
footer {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}

header {
  border-bottom: lightgray solid thin;
}

main {

}

nav {
  border-left: lightgray solid thin;
}

footer {
  border-top: lightgray solid thin;
}

.license-list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-auto-rows: min-content;
  justify-content: center;
}

.lic-list-header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.lic-name,
.lic-quantity,
.lic-expires,
.lic-comment {
  padding: 0.3em 1em;
  border-bottom: lightgray solid thin;
}

.license-list > span:nth-last-child(-n+4) {
  border-bottom: none;
}
