{% extends 'license_db/index.html' %}

{% block content %}
  <div class="login-group-wrapper">
    <form class="login-group" name="login-group" method="post">
      {% if access_denied %}
      <div id="login-error" class="alert alert-danger" role="alert">
        Ouch! Access denied!
      </div>
      {% endif %}
      {% csrf_token %}
      <div id="login-login" class="input-group">
        <div class="input-group-prepend">
          <span id="domain-prepend"
                class="input-group-text">{{ login.prefix }}
          </span>
        </div>
        <input name="username" type="text"
               class="form-control" placeholder="{{ login.placeholder }}" />
      </div>
      <div id="login-password" class="input-group">
        <input name="password" type="password"
               class="form-control" placeholder="Password" />
      </div>
      <button id="login-submit" type="submit"
              class="btn">Login</button>
    </form>
  </div>

{% endblock %}
