{% load static %}<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="{% static 'license_db/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static "license_db/css/style.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:700" rel="stylesheet">
  <title>{% block title %}{{ site_title }}{% endblock %}</title>
</head>

<body>
  <header>
    {% block header %}
      <div class="logo"><h5>{{ logo }}</h5></div>
      <div class="title"></div>
      <div class="user">
      {% if request.user.is_authenticated %}
        <span>
          <a href="{% url 'license_db:index' %}" title="View">
            <img class="header-button" id="button-view"
                 src="{% static 'license_db/img/view.svg' %}">
          </a>
        </span>
        <span>
          <a href="{% url 'license_db:import_data' %}" title="Import">
            <img class="header-button" id="button-import"
                 src="{% static 'license_db/img/import.svg' %}">
          </a>
        </span>
        <span>
          <a href="{% url 'admin:index' %}" title="Edit">
            <img class="header-button" id="button-edit"
                 src="{% static 'license_db/img/edit.svg' %}">
          </a>
        </span>
        <span id="user-full-name">{{ request.user.get_full_name }}</span>
        <span>
          <a href="{% url 'license_db:auth' action='logout' %}"
             title="Logout">
            <img class="header-button" id="button-logout"
                 src="{% static 'license_db/img/log-out.svg' %}">
          </a>
        </span>
      {% endif %}
      </div>
    {% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="{% static "license_db/js/jquery-3.3.1.min.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static "license_db/js/bootstrap.min.js" %}"></script>
  <script src="{% static "license_db/js/main.js" %}"></script>
</body>
</html>
