{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'license_db/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static "license_db/css/style.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:700" rel="stylesheet">
  <title>{% block title %}{{ site_title }}{% endblock %}</title>
</head>

<body>
  <header>
    {% block header %}
{#      <svg fill="blue">#}
{#        <path d="M 0 150 Q 400 175 800 150 L 800 75 L 0 75 Z"></path>#}
{#      </svg>#}
      <div class="logo"><h5>{{ logo }}</h5></div>
      <div class="title"><h3>Licenses</h3></div>
      <div class="user">
      {% if request.user.is_authenticated %}
        <span>
          <a href="{% url 'admin:index' %}" title="Edit licenses">
            <img id="button-edit" src="{% static 'license_db/img/edit.svg' %}">
          </a>
        </span>
        <span id="user-full-name">{{ request.user.get_full_name }}</span>
        <span>
          <a href="{% url 'license_db:auth' action='logout' %}"
             title="Logout">
            <img id="button-logout" src="{% static 'license_db/img/log-out.svg' %}">
          </a>
        </span>
      {% endif %}
      </div>
    {% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static 'license_db/js/bootstrap.min.js' %}"></script>
  <script src="{% static "license_db/js/main.js" %}"></script>
</body>
</html>