{% extends "license_db/index.html" %}

{% load static %}
{% block content %}
  <div class="control-row">
    <div class="input-group control-search-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <img src="{% static "license_db/img/search.svg" %}">
        </span>
      </div>
      <input id="search-area" type="search"
             class="form-control" placeholder="type to search">
    </div>

    <div class="input-group control-collapse-group">
      <div class="input-group-prepend">
        <span id="expand-all" class="input-group-text" title="Expand all">
          <img src="{% static "license_db/img/chevrons-down.svg" %}">
        </span>
        <span id="collapse-all" class="input-group-text" title="Collapse all">
          <img src="{% static "license_db/img/chevrons-up.svg" %}">
        </span>
      </div>
    </div>
  </div>

  <div class="license-list">
    {% for lic_type, licenses in licenses.items %}
      <button class="lic-type-button btn btn-primary" type="button"
              data-toggle="collapse" data-target="#{{ lic_type }}-list">
        {{ lic_type | capfirst }}
      </button>

      <div class="collapse-wrapper collapse show" id="{{ lic_type }}-list">
        <div class="license-group">
          <div class="lic-group-header-row">
            <span class="lic-group-header-item">Name</span>
            <span class="lic-group-header-item">Subtype</span>
            <span class="lic-group-header-item">Quantity</span>
            <span class="lic-group-header-item">Expires</span>
            <span class="lic-group-header-item">Comment</span>
          </div>
          {% for license in licenses %}
            <div class="lic-group-item">
              <span class="lic-name">{{ license.name }}</span>
              <span class="lic-name">{{ license.subtype | default_if_none:'-' }}</span>
              <span class="lic-quantity">{{ license.quantity }}</span>
              <span class="lic-expires">{{ license.expires | date:'d.m.Y' }}</span>
              <span class="lic-comment">{{ license.comment | default:'-' }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
